# Server
NODE_ENV=development
PORT=5000

# Database
MONGODB_URI=mongodb://localhost:27017/saathi

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_change_this
JWT_REFRESH_EXPIRE=30d

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=prustoamkumaryadav78@gmail.com
EMAIL_PASSWORD="ieod iljx dypc xcsa"
EMAIL_FROM=Saathi <prustoamkumaryadav78@gmail.com>

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# OTP Settings
OTP_EXPIRE_MINUTES=10
